*{margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100vh;
}
main{
    height: 100vh; width: 100vw;
}
#footer{
    height: 100vh; width: 100vw;
}

#div1{
    display: flex;
    display: block;
    padding: 20px 60px;
    background-color: blanchedalmond;
    color: #7F7A7A;

}
.hr_line{
    margin-top: 20px;
}

.span{display: flex;
    position: relative;
    top: 12px;
   padding-left: 60px;
   padding-right: 60px;
   gap: 20px;
}
.search_bar{ padding-left: 60px;
    position: relative;
    top: 12px;
    padding-right: 60px;
    display: flex;
}
.searchbar{
    width: 200px;
    height: 20px;
    
}
.anchor_Go{
    padding: 4px 12px;
    color: white;
    background-color: red;
    text-decoration: none;
}
.nav{
    display: flex;
    

} 
.navbar{display: flex;

}

.nav_Elements{
     display: flex;
    /* display: inline; */
    list-style-type: none;
    align-items: flex-end;
    width: 600px;
    padding: 10px 0;
    background-color: black;
    color: white;
    /* Position rules */
    position: relative;
    left: 580px;
    bottom: 30px;
    right: 12px;
}  
.home{
    background-color: red;
    padding: 10px;
}
.nav ul li a{
    justify-content: center;
    padding-left: 30px;
    color: white;
    text-decoration:none;
    list-style-type: none;
    }



    /* Header Code and Styling Ends Here */

    /* Main coding starts from here */
    .container{
             display: flex;
             position: relative;
             left: 70px ;
             justify-items: center;
             width: 900px;
             padding: 0 30px;
             background-color: #EEEEEE;
             color: #7D7D7D;
            
    }
    .Int_news_img{
        padding-left: 80px;
        margin-top: 60px;
        height: 70px; width: 150px;
        border: 3px solid #ddd;
     }

     .int_reading_more{
        position: relative;
        left: 260px; top:60px;
        padding:6px 30px;
        /* padding-left: 0px; */
        color: red;
        background-color: #EBE3E3;
        text-decoration: none;

     }

     #_1f{position: relative;
        left: 234px ; top: 61px;
        color: red;

     }

    .page_content{
        display: flex;
        align-items: center;
        position: relative;
        left: 260px;
        bottom: 30px;
        height: 50px; width:300px ;
        font-size: 15px;
    }
    .int_news_h3{position: relative;
                 top:40px; left:80px; width: 80px;
                 background-color: gray;
        font-family: Georgia, "Times New Roman", Times, serif;;
    }
    
.page_content2{
            position: relative;
            left: 770px; bottom:260px;
            height: 50px; width:250px;

}


.Nat_news  {
    position: relative;
    left: 600px; bottom: 180px;
    height: 70px; width: 150px;
    
}     
.nat_reading_more{
    padding: 6px 30px;
    position: relative;
    top: 15px;
    background-color: #EBE3E3;
    color: red;
    text-decoration: none;

}
#_2f{
    position: relative;
    top: 16px; right: 25px;
    color: red;
}
.natnews{
    position: relative;
    width: 50px;
    left:600px; bottom: 190px;
    background-color: #7F7A7A;
}

/* Footer code starts here */
.footer{
    width: 100%;
    height: 90vh;
   
}


/* ======================== Footer Container Image code Starts here ================================= */

.foot_img{ 
             display: flex;
             display: block;
             align-items: center;
            width: 100vw;
            height: 80vh;
            background-image: url( https://wallpaper.forfun.com/fetch/f8/f8e5ed8cd1b9ff1808b6a2dc86345ea3.jpeg );
            background-size: contain;
            background-repeat: no-repeat;
            /* background-position-x: right; */
            background-position: center;
            position: relative;
            

}
.opacity{
    height: 100%; width: 100%;
    position: absolute;
    top:0%; left:0%;
    background-color: rgba(220, 213, 213, 0.235);

       
}

/* =============================footer Container Image code ends here========================= */
.footdiv{
        margin-top: 30px;
        display: flex;
        display: block;
        justify-content: flex-end;
        color:#7D7D7D;

        
        }
.footdiv1{
    
          padding-left: 476px;

       }

    
.emailcl{
        position: relative;
        top: 140px;
         padding: 12px 12px;
         border-radius: 18px;
         border-color: #7F7A7A;

        }
        .span_email{
            position:relative;
            top:140px;
        }
.footdiv2{
         padding-left: 450px;
        }
.passwordcl{
           /* margin-top: 150px; */
           position: relative;
           top: 150px;
           padding: 12px 12px ;
           border-radius: 18px;
}
.span_password{
          position: relative;
          top: 150px;  

}


.Sign_in{ 
    /* margin-top: 150px; */
         /* padding-left: 540px; */
      
       }
.signcl { 
        width: 100px;
         padding: 12px;
         border-radius: 13px;
         border: 2px thin black ;
         position: relative;
         top: 160px; left: 20px;
         cursor: pointer;
         /* z-index: 1; */
         color: rgb(166, 26, 21)


} 
.checkbox{
    height:20vh;
    position:relative;
    left: 550px; top: 20px;
}





